<!DOCTYPE html>
<html>
<link href="/CSS/styles.css" rel="stylesheet" type="text/css" />
<head>
  <title>BATTLESHIPS</title>
</head>

<body>
<center>
  <br>
  <br>
  Hello <%= @player %>
  Take a shot!
<br><br>

<div id = "board_div">
  <table>
  <% (0..@board.size).each do |row| %>
  <tr>
    <% (0..@board.size).each do |column| %>
      <% if row == 0 %>
        <td id = "description_cell">
          <%= column unless column == 0 %>
        </td>
      <% elsif column ==0 %>
        <td id = "description_cell">
          <%= (row+64).chr unless row == 0 %>
        </td>
      <% else %>
        <td>
          <form action='/hit'>
            <input type="hidden" name="coordinate_to_hit" value="<%= ((row+64).chr + column.to_s) %>">
            <input type="submit" value=<%= @board.grid[((row+64).chr + column.to_s).to_sym].content %>>
          </form>
        </td>
      <% end %>
    <% end %>
  </tr>

  <% end %>
  </table>
</div>
</center>
</body>
</html>
